.container-bg {
    overflow: visible;
    display: block;
    max-width: 1200px;
    position: relative;
}

@media (max-width: 2550px) {
    .bg24 {
        display: none;
    }

    .bg25 {
        display: none;
    }

    .bg26 {
        display: none;
    }

    .bg27 {
        display: none;
    }

    .bg86 {
        display: none;
    }

    .bg87 {
        display: none;
    }

    .bg88 {
        display: none;
    }

    .bg89 {
        display: none;
    }

    .bg90 {
        display: none;
    }

    .bg91 {
        display: none;
    }

    .bg92 {
        display: none;
    }

    .bg93 {
        display: none;
    }

    .bg94 {
        display: none;
    }

    .bg95 {
        display: none;
    }

    .bg96 {
        display: none;
    }

    .bg97 {
        display: none;
    }

    .bg98 {
        display: none;
    }

    .bg99 {
        display: none;
    }
}

@media (max-width: 2100px) {
    .bg18 {
        display: none;
    }

    .bg19 {
        display: none;
    }

    .bg20 {
        display: none;
    }

    .bg21 {
        display: none;
    }

    .bg22 {
        display: none;
    }

    .bg23 {
        display: none;
    }

    .bg68 {
        display: none;
    }

    .bg69 {
        display: none;
    }

    .bg70 {
        display: none;
    }

    .bg71 {
        display: none;
    }

    .bg72 {
        display: none;
    }

    .bg73 {
        display: none;
    }

    .bg74 {
        display: none;
    }

    .bg75 {
        display: none;
    }

    .bg76 {
        display: none;
    }

    .bg77 {
        display: none;
    }

    .bg78 {
        display: none;
    }

    .bg79 {
        display: none;
    }

    .bg80 {
        display: none;
    }

    .bg81 {
        display: none;
    }

    .bg82 {
        display: none;
    }

    .bg83 {
        display: none;
    }

    .bg84 {
        display: none;
    }

    .bg85 {
        display: none;
    }
}



#bg {
    position: absolute;
    width: 140px;
    height: 130px;
    opacity: 0.5;
}

.bg1 {
    top: 20px;
    left: 250px;
    background-image: url(background/1.png)
}

.bg2 {
    top: 0;
    left: 530px;
    background-image: url(background/2.png);
}

.bg3 {
    top: 280px;
    left: 650px;
    background-image: url(background/3.png);
}

.bg4 {
    top: 340px;
    left: 30px;
    background-image: url(background/4.png);
}

.bg5 {
    top: 360px;
    left: 380px;
    background-image: url(background/5.png);
}

.bg6 {
    top: 0;
    right: 0;
    background-image: url(background/6.png);
}

.bg7 {
    top: -20px;
    left: 730px;
    background-image: url(background/7.png);
}

.bg8 {
    top: 350px;
    right: 0;
    background-image: url(background/8.png);
}

.bg9 {
    top: -10px;
    left: 0px;
    background-image: url(background/9.png);
}

.bg100 {
    top: 820px;
    left: 150px;
    background-image: url(background/27.png);
}

.bg101 {
    top: 650px;
    right: 300px;
    background-image: url(background/26.png)
}

.bg102 {
    top: 1130px;
    left: 250px;
    background-image: url(background/25.png);
}

.bg103 {
    top: 970px;
    right: 150px;
    background-image: url(background/24.png);
}

.bg104 {
    top: 1300px;
    right: 230px;
    background-image: url(background/23.png);
}

.bg105 {
    top: 2480px;
    left: 300px;
    background-image: url(background/22.png);
}

.bg106 {
    top: 2500px;
    right: 100px;
    background-image: url(background/21.png);
}

.bg107 {
    top: 2650px;
    left: 100px;
    background-image: url(background/20.png);
}

.bg108 {
    top: 1445px;
    left: 220px;
    background-image: url(background/19.png);
}

.bg109 {
    top: 3200px;
    left: 200px;
    background-image: url(background/18.png);
}

.bg110 {
    top: 3120px;
    left: 550px;
    background-image: url(background/1.png);
}

.bg111 {
    top: 3250px;
    right: 50px;
    background-image: url(background/2.png)
}

.bg112 {
    top: 4200px;
    left: 150px;
    background-image: url(background/3.png);
}

.bg113 {
    top: 4200px;
    right: 100px;
    background-image: url(background/4.png);
}

.bg114 {
    top: 4450px;
    right: 230px;
    background-image: url(background/5.png);
}

.bg115 {
    top: 4120px;
    z-index: -10;
    left: 400px;
    background-image: url(background/6.png);
}

.bg116 {
    top: 4270px;
    right: 450px;
    background-image: url(background/7.png);
}

.bg117 {
    top: 4400px;
    left: 300px;
    background-image: url(background/8.png);
}

.bg10 {
    top: 200px;
    left: -200px;
    background-image: url(background/10.png);
}

.bg11 {
    top: 200px;
    right: -200px;
    background-image: url(background/11.png);
}

.bg12 {
    top: 400px;
    left: -150px;
    background-image: url(background/12.png);
}

.bg13 {
    top: 400px;
    right: -150px;
    background-image: url(background/13.png);
}

.bg14 {
    top: 600px;
    left: -200px;
    background-image: url(background/14.png);
}

.bg15 {
    top: 600px;
    right: -200px;
    background-image: url(background/15.png);
}

.bg16 {
    top: 800px;
    right: -150px;
    background-image: url(background/16.png);
}

.bg17 {
    top: 800px;
    left: -150px;
    background-image: url(background/17.png);
}

.bg18 {
    top: 350px;
    left: -350px;
    background-image: url(background/18.png);
}

.bg19 {
    top: 350px;
    right: -350px;
    background-image: url(background/19.png);
}

.bg20 {
    top: 700px;
    left: -350px;
    background-image: url(background/20.png);
}

.bg21 {
    top: 700px;
    right: -350px;
    background-image: url(background/21.png);
}

.bg22 {
    top: 100px;
    right: -350px;
    background-image: url(background/22.png);
}

.bg23 {
    top: 100px;
    left: -350px;
    background-image: url(background/23.png);
}

.bg24 {
    top: 250px;
    left: -550px;
    background-image: url(background/24.png);
}

.bg25 {
    top: 250px;
    right: -550px;
    background-image: url(background/25.png);
}

.bg26 {
    top: 550px;
    left: -550px;
    background-image: url(background/26.png);
}

.bg27 {
    top: 550px;
    right: -550px;
    background-image: url(background/27.png);
}

.bg28 {
    top: 1000px;
    left: -200px;
    background-image: url(background/20.png);
}

.bg29 {
    top: 1000px;
    right: -200px;
    background-image: url(background/19.png);
}

.bg30 {
    top: 1200px;
    left: -150px;
    background-image: url(background/5.png);
}

.bg31 {
    top: 1200px;
    right: -150px;
    background-image: url(background/6.png);
}

.bg32 {
    top: 1400px;
    left: -200px;
    background-image: url(background/7.png);
}

.bg33 {
    top: 1400px;
    right: -200px;
    background-image: url(background/8.png);
}

.bg34 {
    top: 1600px;
    left: -150px;
    background-image: url(background/9.png);
}

.bg35 {
    top: 1600px;
    right: -150px;
    background-image: url(background/10.png);
}

.bg36 {
    top: 1800px;
    left: -200px;
    background-image: url(background/11.png);
}

.bg37 {
    top: 1800px;
    right: -200px;
    background-image: url(background/12.png);
}

.bg38 {
    top: 2000px;
    left: -150px;
    background-image: url(background/13.png);
}

.bg39 {
    top: 2000px;
    right: -150px;
    background-image: url(background/14.png);
}

.bg40 {
    top: 2200px;
    left: -200px;
    background-image: url(background/15.png);
}

.bg41 {
    top: 2200px;
    right: -200px;
    background-image: url(background/16.png);
}

.bg42 {
    top: 2400px;
    left: -150px;
    background-image: url(background/17.png);
}

.bg43 {
    top: 2400px;
    right: -150px;
    background-image: url(background/18.png);
}

.bg44 {
    top: 2600px;
    left: -200px;
    background-image: url(background/19.png);
}

.bg45 {
    top: 2600px;
    right: -200px;
    background-image: url(background/27.png);
}

.bg46 {
    top: 2800px;
    left: -150px;
    background-image: url(background/26.png);
}

.bg47 {
    top: 2800px;
    right: -150px;
    background-image: url(background/25.png);
}

.bg48 {
    top: 3000px;
    left: -200px;
    background-image: url(background/24.png);
}

.bg49 {
    top: 3000px;
    right: -200px;
    background-image: url(background/23.png);
}

.bg50 {
    top: 3200px;
    left: -150px;
    background-image: url(background/22.png);
}

.bg51 {
    top: 3200px;
    right: -150px;
    background-image: url(background/21.png);
}

.bg52 {
    top: 3400px;
    left: -200px;
    background-image: url(background/1.png);
}

.bg53 {
    top: 3400px;
    right: -200px;
    background-image: url(background/2.png);
}

.bg54 {
    top: 3600px;
    left: -150px;
    background-image: url(background/3.png);
}

.bg55 {
    top: 3600px;
    right: -150px;
    background-image: url(background/4.png);
}

.bg56 {
    top: 3800px;
    left: -200px;
    background-image: url(background/5.png);
}

.bg57 {
    top: 3800px;
    right: -200px;
    background-image: url(background/6.png);
}

.bg58 {
    top: 4000px;
    left: -150px;
    background-image: url(background/7.png);
}

.bg59 {
    top: 4000px;
    right: -150px;
    background-image: url(background/8.png);
}

.bg60 {
    top: 4200px;
    left: -200px;
    background-image: url(background/15.png);
}

.bg61 {
    top: 4200px;
    right: -200px;
    background-image: url(background/16.png);
}

.bg62 {
    top: 4400px;
    left: -150px;
    background-image: url(background/17.png);
}

.bg63 {
    top: 4400px;
    right: -150px;
    background-image: url(background/18.png);
}

.bg64 {
    top: 4600px;
    left: -200px;
    background-image: url(background/25.png);
}

.bg65 {
    top: 4600px;
    right: -200px;
    background-image: url(background/24.png);
}

.bg66 {
    top: 4800px;
    left: -150px;
    background-image: url(background/23.png);
}

.bg67 {
    top: 4800px;
    right: -150px;
    background-image: url(background/22.png);
}



.bg68 {
    top: 1100px;
    left: -350px;
    background-image: url(background/4.png);
}

.bg69 {
    top: 1100px;
    right: -350px;
    background-image: url(background/5.png);
}

.bg70 {
    top: 1500px;
    left: -350px;
    background-image: url(background/6.png);
}

.bg71 {
    top: 1500px;
    right: -350px;
    background-image: url(background/7.png);
}

.bg72 {
    top: 2050px;
    right: -350px;
    background-image: url(background/8.png);
}

.bg73 {
    top: 2050px;
    left: -350px;
    background-image: url(background/9.png);
}

.bg74 {
    top: 2450px;
    left: -350px;
    background-image: url(background/4.png);
}

.bg75 {
    top: 2450px;
    right: -350px;
    background-image: url(background/5.png);
}

.bg76 {
    top: 2850px;
    left: -350px;
    background-image: url(background/6.png);
}

.bg77 {
    top: 2850px;
    right: -350px;
    background-image: url(background/7.png);
}

.bg78 {
    top: 3300px;
    right: -350px;
    background-image: url(background/8.png);
}

.bg79 {
    top: 3300px;
    left: -350px;
    background-image: url(background/9.png);
}

.bg80 {
    top: 3650px;
    left: -350px;
    background-image: url(background/4.png);
}

.bg81 {
    top: 3650px;
    right: -350px;
    background-image: url(background/5.png);
}

.bg82 {
    top: 4100px;
    left: -350px;
    background-image: url(background/6.png);
}

.bg83 {
    top: 4100px;
    right: -350px;
    background-image: url(background/7.png);
}

.bg84 {
    top: 4450px;
    right: -350px;
    background-image: url(background/8.png);
}

.bg85 {
    top: 4450px;
    left: -350px;
    background-image: url(background/9.png);
}


.bg86 {
    top: 1000px;
    left: -550px;
    background-image: url(background/18.png);
}

.bg87 {
    top: 1000px;
    right: -550px;
    background-image: url(background/19.png);
}

.bg88 {
    top: 1750px;
    left: -550px;
    background-image: url(background/20.png);
}

.bg89 {
    top: 1750px;
    right: -550px;
    background-image: url(background/21.png);
}

.bg90 {
    top: 2250px;
    left: -550px;
    background-image: url(background/10.png);
}

.bg91 {
    top: 2250px;
    right: -550px;
    background-image: url(background/11.png);
}

.bg92 {
    top: 2750px;
    left: -550px;
    background-image: url(background/12.png);
}

.bg93 {
    top: 2750px;
    right: -550px;
    background-image: url(background/13.png);
}

.bg94 {
    top: 3150px;
    left: -550px;
    background-image: url(background/22.png);
}

.bg95 {
    top: 3150px;
    right: -550px;
    background-image: url(background/27.png);
}

.bg96 {
    top: 3850px;
    left: -550px;
    background-image: url(background/25.png);
}

.bg97 {
    top: 3850px;
    right: -550px;
    background-image: url(background/23.png);
}

.bg98 {
    top: 4250px;
    left: -550px;
    background-image: url(background/14.png);
}

.bg99 {
    top: 4250px;
    right: -550px;
    background-image: url(background/4.png);
}

@media (max-width: 1600px) {
    .bg10 {
        display: none;
    }

    .bg11 {
        display: none;
    }

    .bg14 {
        display: none;
    }

    .bg15 {
        display: none;
    }

    .bg12 {
        top: 180px;
    }

    .bg13 {
        top: 180px;
    }

    .bg16 {
        top: 400px;
    }

    .bg17 {
        top: 400px;
    }
}

@media (max-width: 1500px) {
    .bg12 {
        display: none;
    }

    .bg13 {
        display: none;
    }

    .bg16 {
        display: none;
    }

    .bg17 {
        display: none;
    }

    .bg28 {
        display: none;
    }

    .bg29 {
        display: none;
    }

    .bg30 {
        display: none;
    }

    .bg31 {
        display: none;
    }

    .bg32 {
        display: none;
    }

    .bg33 {
        display: none;
    }

    .bg34 {
        display: none;
    }

    .bg35 {
        display: none;
    }

    .bg36 {
        display: none;
    }

    .bg37 {
        display: none;
    }

    .bg38 {
        display: none;
    }

    .bg39 {
        display: none;
    }

    .bg40 {
        display: none;
    }

    .bg41 {
        display: none;
    }

    .bg42 {
        display: none;
    }

    .bg43 {
        display: none;
    }

    .bg44 {
        display: none;
    }

    .bg45 {
        display: none;
    }

    .bg46 {
        display: none;
    }

    .bg47 {
        display: none;
    }

    .bg48 {
        display: none;
    }

    .bg49 {
        display: none;
    }

    .bg50 {
        display: none;
    }

    .bg51 {
        display: none;
    }

    .bg52 {
        display: none;
    }

    .bg53 {
        display: none;
    }

    .bg54 {
        display: none;
    }

    .bg55 {
        display: none;
    }

    .bg56 {
        display: none;
    }

    .bg57 {
        display: none;
    }

    .bg58 {
        display: none;
    }

    .bg59 {
        display: none;
    }

    .bg60 {
        display: none;
    }

    .bg61 {
        display: none;
    }

    .bg62 {
        display: none;
    }

    .bg63 {
        display: none;
    }

    .bg64 {
        display: none;
    }

    .bg65 {
        display: none;
    }

    .bg66 {
        display: none;
    }

    .bg67 {
        display: none;
    }
}